<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Spaço Educar</mat-card-title>
      <mat-card-subtitle>Madalena Dornelas de Deus</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/study.svg" alt="Imagem de uma criança 
    em miniatura subindo livros bem grandes como se fossem degraus de uma escada">
    <mat-card-content>
      <p>
       Olá, seja bem vindo ao Spaço Educar!
      </p>
    </mat-card-content>
  </mat-card>