<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="../../../assets/img/criancas_escola.svg" alt="Imagems de duas crianças indo a escola">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item routerLink="artigos">
                <i class="material-icons">note</i>
                Artigos
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">subject</i>
                Atividades
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">person</i>
                Meu Perfil
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">logout</i>
                Sair
            </a>
        </mat-nav-list>
      
    </mat-drawer>
  
    <div class="sidenav-content">
        <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
  
